/*
URL:      ligapaulistadenatacao.com.br
Description:    Estilo para página da Liga Paulista de Natação
Author:         Jhonattan Willian Correia Silva
Version:        1.0
*/

body a{
    font-weight: bold;
    color: inherit; /* herda a cor do texto do elemento pai */
    text-decoration: none; /* remove o sublinhado */
}

nav.cabecalho{
    background-color:  rgb(200, 247, 231);
}

.cabecalho-btns li{
    font-weight: bold;
    background-color: #2e8b57;
    color: #030083;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
}



/*INICIO CARROSSEL*/

.carousel-item {
    height: 800px; /* Altura desejada */
  }
  
  .carousel-item img {
    width: 100%; /* Garante que a imagem ocupe toda a largura do contêiner */
    height: 800px; /* Altura desejada */
    object-fit: cover; /* Garante que a imagem cubra toda a área sem distorção */
  }

.carousel-item h5{
    font-family: 'Montserrat';
    font-weight: bolder;
    color: black;
    background-color: aliceblue;
    font-family: montserrat
}

.carousel-item p{
    font-family: 'Montserrat';
    background-color: brown;
}

/*FIM CARROSSEL*/

/*INICIO PROXIMAS ETAPAS*/

.prox-etapas{
    background-color: rgb(200, 247, 231);
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 1%;
}

.calendario {
    /*max-width: 300px;*/
    margin: 20px auto;
    border-collapse: collapse;
  }
  .calendario th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
  }
  .calendario td {
    text-align: center;
    padding: 5px;
    border: 1px solid #ddd;
  }
  .calendario td:hover {
    background-color: #f0f0f0;
  }

  /*FIM PROXIMAS ETAPAS*/


  /*INICIO ETAPAS PASSADAS*/
.row-etapas{
    
}

.card-etapas{
    background-color: wheat;
    margin: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
}

/*FIM ETAPAS PASSADAS*/


/*INICIO SERVIÇOS*/
.servicos{
    background-color: #FF5353;
    margin: 1%;
}

.card-servicos{
    padding: 2%;
    text-align: center;
}
/*FIM SERVIÇOS*/

/*INICIO PARCEIROS*/
.parceiros{
    background-color: rgb(200, 247, 231);
}

.parceiros a{
    color: inherit; /* herda a cor do texto do elemento pai */
    text-decoration: none; /* remove o sublinhado */
}

/*FIM PARCEIROS*/

/*INICIO FOOTER*/
footer div{
    background-color: #606466;
}